<html>
  <title>Films</title>
  <body>
    <h1>Home</h1>
    <div id="mainMenu">
      {% if user.is_authenticated %}
      <a href="#" id="userMenu"> {{ user.username }} </a>
      <h2>User Menu</h2>
      <a href="#">My account</a> <a href="#">Change password</a>
      <a href="{% url 'logout' %}">Log out</a>
      <h2>Films</h2>

      {% else %}
      <form>
        <a href="{% url 'login' %}">Log in</a>
        <a href="{% url 'signup' %}">Sign up</a>
      </form>
      {% endif %}
    </div>
  </body>
</html>
